.mainDiv{
    display: flex;
    height: 90vh;
    
}
.courseDiv{
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}